@import "tailwindcss";

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}
