@import "tailwindcss";

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}
@theme {
  /* background color */
  --color-background: #000000;
  /* text color */
  --color-text-primary: #ffffff;
  --color-text-secondary: #9e9e9e;
}
